@media (max-width: 50em) {
  .nav-btn-links {
    display: none;
  }

  .mobile-nav-toggle {
    display: block;
    transition: all 0.3s ease-in;
  }

  .primary-navigation {
    background-color: var(--clr-primary-dark);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .nav-open .primary-navigation {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  .nav-open .icon-mobile-nav[name="close"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu"] {
    display: none;
  }

  .nav-list {
    flex-direction: column;
    gap: 2.4rem;
  }

  .nav-link:link,
  .nav-link:visited {
    font-size: 2.4rem;
    color: var(--clr-primary-white);
  }
}
