@media (min-width: 40em) {
  .author {
    font-size: 2rem;
  }

  .btn,
  .btn:link,
  .btn:visited {
    font-size: 1.4rem;
  }
}

@media (min-width: 48em) {
  .partners-list {
    grid-template-columns: 1fr 1fr;
  }

  .partners-list li:last-child {
    grid-column: 1 / -1;
  }

  .primary-heading {
    font-size: 4.4rem;
  }

  .padding-block-lg {
    padding-block: 6.4rem 4.8rem;
  }

  .secondary-heading {
    font-size: 4rem;
    letter-spacing: -1px;
    line-height: 1.05;
  }

  .description {
    font-size: 1.6rem;
  }

  .testimonial-text {
    font-size: 2rem;
  }

  .testimonial-name {
    font-size: 1.6rem;
  }

  .testimonial-place {
    font-size: 1.4rem;
  }
}

@media (min-width: 64em) {
  .primary-heading {
    font-size: 5.6rem;
    letter-spacing: -1.5px;
  }

  .description {
    font-size: 2rem;
  }

  .small-text {
    font-size: 1.2rem;
    margin-top: 5rem;
  }

  .features {
    grid-template-columns: 1fr 1fr;
  }

  .partners-list {
    grid-template-columns: repeat(5, 1fr);
  }

  .partners-list li:last-child {
    grid-column: 5 / 6;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 4.8rem;
  }

  .grid-img-box {
    grid-row: 1;
  }

  .grid-text-box.text-center {
    text-align: left;
  }

  .testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem;
  }

  .cta-header-box {
    max-width: 90ch;
  }

  .cta {
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
  }

  .cta-desc-box .btn--app:link,
  .cta-desc-box .btn--app:visited {
    display: inline;
    text-align: center;
  }

  .left-col {
    width: 50%;
  }

  .form {
    display: block;
  }

  .form div {
    border: 1px solid #333;
  }

  .form label {
    display: block;
    margin-block: 3.2rem 1.6rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.75px;
  }

  .footer-container {
    grid-template-columns: repeat(5, 1fr);
    row-gap: 5.2rem;
  }

  .logo-col {
    grid-column: 1 / -1;
  }

  .nav-col.text-center {
    text-align: left;
  }

  .social-col {
    grid-column: span 2;
    justify-self: end;
  }

  .social-links {
    gap: 2.4rem;
  }

  .copyright-col.text-center {
    text-align: left;
  }
}

/* NAVIGATION */
@media (max-width: 55em) {
  .nav-btn-links {
    display: none;
  }

  .mobile-nav-toggle {
    display: block;
    transition: all 0.3s ease-in;
  }

  .primary-navigation {
    background-color: var(--clr-primary-dark);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .nav-open .primary-navigation {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  .nav-open .icon-mobile-nav[name="close"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu"] {
    display: none;
  }

  .nav-list {
    flex-direction: column;
    gap: 2.4rem;
  }

  .nav-link:link,
  .nav-link:visited {
    font-size: 2.4rem;
    color: var(--clr-primary-white);
  }

  .padding-block-md {
    padding-block: 4.8rem;
  }
}
