/* SECTION HEADER */
.header {
  height: 100vh;

  background-image: url("/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo {
  font-size: 3rem;
  font-weight: 700;
}

.logo:hover {
  opacity: 0.7;
}

.container {
  --max-width: 115rem;
  --padding: 1.6rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.nav-wrapper {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--clr-lighter-dark);
  text-decoration: none;
  transition: all 0.3s;
}

.tree-logo {
  height: 4.2rem;
}

.flex {
  display: flex;
  align-items: center;
  gap: 2px;
}

.nav-link:hover,
.nav-link:active {
  color: var(--clr-primary-dark);
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem 2.2rem;
  border: none;
  border-radius: 100vmax;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s;
}

.btn--app:link,
.btn--app:visited {
  background-color: var(--clr-bg-black);
  color: var(--clr-text-white);
}

.btn--app:hover,
.btn--app:active {
  opacity: 0.5;
}

.btn--acc:link,
.btn--acc:visited {
  background-color: var(--clr-primary-white);
  color: var(--clr-primary-dark);
}

.btn--acc:hover,
.btn--acc:active {
  background-color: var(--clr-lighter-dark);
  color: var(--clr-primary-white);
}

.primary-heading {
  font-size: 3.2rem;
  color: #111;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.5px;
}

.primary-heading span {
  font-weight: 700;
  display: inline;
}

.description {
  font-size: 1.4rem;
  line-height: 1.6;
  color: var(--clr-text);
}

.form {
  display: none;
}

.small-text {
  padding-bottom: 2.4rem;
}

.btn-container {
  margin-top: 6.4rem;
}

/* NAVIGATION */

.icon-mobile-nav {
  width: 4rem;
  height: 4rem;
  color: gray;
}

.mobile-nav-toggle {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon-mobile-nav[name="close"] {
  display: none;
}

/* SECTION PARTNERS */

.partners-list {
  display: grid;
  justify-content: center;
  row-gap: 4.8rem;
  list-style: none;
  padding-block: 4.8rem;
}

.partners-list li {
  justify-self: center;
  align-self: center;
}

.partners-img {
  height: 3rem;
  filter: brightness(0);
  opacity: 0.5;
}

/*SECTION TESTIMONIAL */
.secondary-heading {
  font-size: 2.4rem;
  letter-spacing: -0.25px;
  font-weight: 600;
  line-height: 1.2;
}

.author {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--clr-lighter-text);
}

/* SECTION-FEATURES */

.features {
  display: grid;
  grid-template-columns: 1fr;
}
.feature .primary-heading {
  font-weight: 600;
}

.arrow-right {
  height: 1.2rem;
  display: inline-block;
}

.btn--outline {
  padding: 1.4rem 2.8rem;
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 0.8rem;
  background-color: transparent;
  box-shadow: inset 0 0 0 1px var(--clr-lighter-dark);
  cursor: pointer;
}

.btn--outline:hover {
  background-color: var(--clr-bg-black);
  color: var(--clr-text-white);
}

/* SECTION JOIN */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
}

.subtitle {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.grid-img-box {
  position: relative;
  grid-row: 2;
}

/* 
.grid-img-box {
  position: relative;
  height: 73rem;
  max-width: 60rem;
  grid-row: 2;
}

.join-img:nth-child(1) {
  height: 20rem;
  width: 15rem;
  position: absolute;
  object-fit: cover;
  border-radius: 31px;
  top: 0;
  right: 0;
}
.join-img:nth-child(2) {
  height: 30rem;
  width: 24rem;
  position: absolute;
  top: 6.4rem;
  left: 0;
  object-fit: cover;
  border-radius: 31px;
} */

.grid-img-box::before {
  position: absolute;
  background-image: url("/trustpilot.png");
  width: 30rem;
  height: 15rem;
  border-radius: 21px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

/* .join-img:nth-child(3) {
  position: absolute;
  height: 30rem;
  width: 25rem;
  object-fit: cover;
  border-radius: 20px;
  top: 36rem;
  right: 0;
} */

.bg-testimonials {
  background: linear-gradient(
    183deg,
    rgba(210, 219, 225, 1) 0%,
    rgba(139, 177, 219, 1) 99%,
    rgba(0, 212, 255, 1) 100%
  );
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.6rem;
}

.testimonial {
  padding: 1.6rem 2.4rem;
  background-color: var(--clr-text-white);
  border-radius: 21px;
}

.testimonial-text {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--clr-text);
  margin-bottom: 1rem;
}

.testimonial-name {
  font-size: 1.2rem;
  font-weight: 600;
}

.testimonial-place {
  font-size: 1.2rem;
}

/* SECTION-CTA */

.cta {
  display: grid;
  grid-template-columns: 1fr;
}

.cta-text {
  font-size: 2.2rem;
  letter-spacing: 0.1px;
  line-height: 1.4;
  color: var(--clr-text);
}

.cta-desc-box .btn--app:link,
.cta-desc-box .btn--app:visited {
  display: block;
  text-align: center;
}
